cloud-sql-python-connector[pg8000]==1.*
sqlalchemy==2.*
google-cloud-logging==3.*
numpy>=1.*
opencv-python>=4.*
requests>=2.*
torch>=1.*  # see https://pytorch.org/get-started/locally (recommended)
mercantile>=1.*
pyarrow==11.*
pyproj>=3.*
gdown>=4.*
-r ./yolov5/requirements.txt
